<div id="card">
  <img src="assets/loading.gif" id="loading" *ngIf="showLoadingSymbol" style="position: absolute; z-index: 10; left: 45%; top: 15%; height:50px; width:50px">
  <!-- <v-file-input truncate-length="15"></v-file-input> -->
  <form action="http://localhost:5000/" enctype = "multipart/form-data" method="POST" target="hiddenFrame">
    <label id="header">Upload Tamil Audio</label><br>
    <input id="fileUpload" name="fileUpload" type="file" accept="audio/*" />
    <div>

    <button id="submitbtn" type="submit" (click)="toggleLoading()">Get Transcript</button>
    <!-- <button id="submitbtn" refs="iframed" @click="fn()">Get Transcript</button> -->
    </div>
  </form>
  <iframe id="transcriptframe" name="hiddenFrame" class="hide" value="Hello" (load)="toggleLoading()"></iframe>
</div>
